#pattern{
    background-color:#4EA0FF ;
    background-image: url('./img/pattern.png');
}

#logo{
    width: 20%;
    margin-top: 5%;
}

h1{
    font-size: 80px;
}

#link{
    font-size: 20px;
    color: #808080;
    margin-bottom: 30px;
}
#booleaner{
    text-decoration: none;
}

#sottolineato{
    background-color: gold;
}

table{
    width: 1000px;
}
thead{
    background-color: #20A9E5;
    color: white;
}

#sezione1, #sezione2{
    width: 200px;
}
#sezione3{
    width: 800px;
}
#corpo1, #corpo3{
    background-color: #B1E5F2;
}

#interessi{
    color: #808080;
    font-size: 30px;
    font-weight: 700;
}

#sugg1{
    margin-top: 10px;
    width: 414px;
    height: 318px;
    background-image: url('./img/monitor.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
#sugg2{
    width: 414px;
    height: 318px;
    background-image: url('./img/graph.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-weight: 700;
}
